@model string

<ul class="navbar-nav me-auto">
  <a href="/" class="nav-link @((Model == "Index" ? "active" : ""))">Master Data</a>
  <a href="/Reports" class="nav-link @((Model == "Reports" ? "active" : ""))">Reports</a>
  <a href="/Load" class="nav-link @((Model == "Load" ? "active" : ""))">Load</a>
  <a href="/Search" class="nav-link @((Model == "Search" ? "active" : ""))">Search</a>
  <a href="/Administration" class="nav-link @((Model == "Administration" ? "active" : ""))">Administration</a>
</ul>