@model string

<ul class="nav nav-tabs card-header-tabs">
  <li class="nav-item me-auto">
    <span class="nav-link nav-title fw-bold border-0 bg-transparent">Venus</span>
  </li>
  <li class="nav-item">
    <a href="/" class="nav-link @((Model == "Index" ? "active" : ""))">Master Data</a>
  </li>
  <li class="nav-item">
    <a href="/Reports" class="nav-link @((Model == "Reports" ? "active" : ""))">Reports</a>
  </li>
  <li class="nav-item">
    <a href="/Load" class="nav-link @((Model == "Load" ? "active" : ""))">Load</a>
  </li>
  <li class="nav-item">
    <a href="/Search" class="nav-link @((Model == "Search" ? "active" : ""))">Search</a>
  </li>
  <li class="nav-item">
    <a href="/Administration" class="nav-link @((Model == "Administration" ? "active" : ""))">Administration</a>
  </li>
</ul>